@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cinzel+Decorative:wght@700&family=Cinzel:wght@700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #250001;
  background: linear-gradient(to right, #011608de, #01461bee);
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 0.96rem;
  font-weight: 300;
}
p{
  color: #000000;
}
html, body{
  height: 100%;
}

input{
  font-family: "Poppins", sans-serif;
}
main{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.sign-up-mode form.sign-in-form{
  opacity: 0;
  pointer-events: none;
}
main.sign-up-mode form.sign-up-form{
  opacity: 1;
  pointer-events: all;
}
main.sign-up-mode .forms-wrap{
  left: 55%;
}
main.sign-up-mode .carousel{
  left: 0%;
}
.box{
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.336);
}
.inner-box{
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
form{
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}
form.sign-up-form{
  opacity: 0;
  pointer-events: none;
}
.forms-wrap{
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: .8s ease-in-out;
}
.heading-form{
  margin-bottom: 10px;
}
.heading-form h2{
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}
.heading-form h6{
  font-size: 0.85rem;
  font-weight: 400;
  color: #918f8f;
  display: inline;
}
.toggle-form{
  color: #151111;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  transition: 0.3s;
}
.toggle-form:hover{
  color: #ff6a00;
}
.input-wrap{
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.input-field{
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}
.input-wrap label {
  color: #bbb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  pointer-events: none;
  transition: 0.4s;
  font-weight: 450;
}
.input-field.active{
  border-bottom-color: #151111;
}
.input-field.active + label{
  font-size: 0.75rem;
  top: -2px;
}
.sign-btn{
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111 ;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  top: -1rem;
  margin-bottom: 0;
  transition: 0.3s;
}
.sign-btn:hover{
  background-color: #ff6a00;
}

.text{
  color: #918f8f;
  font-size: 0.85rem;
  font-weight: 400;
}
.text a{
  color: #bbb;
  transition: 0.3s;
}
.text a:hover{
  color: #ff6a00;
}

.central {
  position: relative;
  z-index: 1;
  height: 20%;
  
  font-family: 'Roboto Condensed', Calibri, Arial, sans-serif;
}

header {
  background: #ff6a00;
  border-radius: 0 0 10px 10px;
  border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
  margin: 0 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  width: calc(100% - 14px);
}

.logo {
  font-family: 'Koulen', 'Roboto Condensed';
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  padding: 6px 15px;
  align-items: center;
  font-size: 25px;
}

.logo-img {
  width: auto;
  max-width: 50px;
}
.logo-form{
  display: flex;
  align-items: center;
}
.logo-form img{
  width: 27px;
  margin-right: 0.3rem;
}

.logo-form h3{
  font-size: 1.1rem;
  margin-top: 0;
  letter-spacing: -0.5px;
  color: #151111;
}

#chk-toggle {
  display: none;
}

#toggle {
  display: inline-block;
  padding: 11px;
  cursor: pointer;
}

#toggle span {
  display: block;
  width: 22px;
  height: 3px;
  background: #ffffff;
  margin: 2px;
}

nav {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  font-weight: 600;
}

nav ul {
  margin: 0 15px;
  list-style: none;
}

nav ul li {
  border-bottom: rgba(255, 255, 255, 0.06) solid 1px;
}

nav ul li:nth-last-child(1) {
  border-bottom: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.98rem;
  padding: 8px;
}

.navbar-link::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar-link:hover::before {
  width: 100%;
}

#chk-toggle:checked~nav {
  height: auto;
}
.btn-login {
    
  padding: 10px 20px;
  text-decoration: none;
  background-color: #b64d02; 
  color: #fff; 
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease; 

}

.btn-login:hover {
  background-color: #e05600;
}
footer {
  background: #ff6a00;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
  font-family: 'Roboto Condensed', Calibri, Arial, sans-serif;
}

#redes {
  color: #fff;
  font-weight: 600;
}

.redes {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 600;
}

.redes a {
  display: flex;
  background: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 1.2rem;
  color: #162336;
}

.headline{
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 15px;
  flex-direction: column;
  align-items: center;
}

#confirmar_senha {
  font-size: 14px;
  top: -2rem;
  display: inline-block;
  color: #000000;
  font-weight: 400;
  transition: opacity 0.5s ease-in-out;
}

.carousel{
  position: absolute;
  height: 100%;
  width: 55%;
  top: 0;
  left: 45%;
  background-color: rgb(42, 133, 63);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: .8s ease-in-out;
}
.images-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.image{
  height: 400px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.4s, transform 0.5s;
}
.img-1{
  transform: translate(0, -50px);
}
.img-2{
  transform: scale(0.4, 0.5);
}
.img-3{
  transform: scale(0.3) rotate(-20deg);
}
.image.show{
  opacity: 1;
  transform: none;
}
.text-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-wrap{
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.text-group{
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}
.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.bullets{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span{
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.bullets span.active{
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}

@media only screen and (min-width: 500px){
  .videos ul li{
      width: 65%;
  }
}
@media only screen and (min-width: 600px){
  .videos{
      white-space: normal;
      width: 100%;
  }
  .videos ul li{
      width: 50%;
  }
  h1 {
      font-size: 5rem;
      line-height: 4.3rem;
  }
  .btn {
      font-size: 1.18rem;
  }

  
}
@media only screen and (min-width: 700px){
  nav{
      height: auto;
      overflow-y: unset;
      flex-basis: unset;
  }
  #toggle{
      display: none;
  }
  nav ul li{
      display: inline-block;
      border-bottom: none;
  }
  nav a{
      padding: 8px 12px;
  }
  
}
@media only screen and (min-width: 850px){            
  .spacevid{
      width: 67%;
      float: left;
  }
  .boxassine{
      width: 32%;
      float: right;
  }
  .clear{
      clear: both;
  }
  h1 {
      font-size: 7rem;
      line-height: 6.5rem;
  }
  .btn {
      font-size: 1.85rem;
  }
}
@media only screen and (min-width: 1200px){  
  body{
      font-size: 1.3rem;
  }
  section, .central {
      margin: 0 auto;
      max-width: 1200px;
  }
  
  header{
      padding: 8px;
      border-radius: 0 0 17px 17px;
  }
  h1 {
      margin-bottom: 36px;
  }
  .w43 {
      width: 32%;
  }
  .videos {
      overflow-y: unset;
  }
  .videos ul li {
      padding: 15px;
  }
  .videos ul {
      margin: -15px;
  }
  .boxassine {
      width: 30%;
  }
  .boxassine {
      margin-top: 49px;
      min-height: 484px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
 
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}

::-webkit-scrollbar{
  height: 13px;
  width: 5px
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.473);
}

